<div class="about-us">
  <div class="col-md-8 col-xs-12 col-centered">
    <h1>About our Organization</h1>
    <p class="site-txt">The North American Summit was started in 2001. What began as a trip to Vegas, turned into a yearly gathering. There are
      four men that were present in 2001 that continue to keep the organization's goal intact. John Arnold, Stuart Ponting,
      Norman Suvan, and Casey Wood. While Stuart and John will argue that the idea of a yearly Summit was their idea, Norm
      and Casey have spent more time and dedication to keep the Summit alive The Summit began in the United States and every
      year the venue changes between Canada and the US. Check out the Previous Summits page to see pictures and read past
      peace talks. Our current goal is to turn this Summit into a non-profit organization that will benefit charities in
      both the United States and Canada.
    </p>
    <p class="site-txt">
      <b>We are currently seeking Sponsors to assist us in Fund Raising. </b>
      <br/> If you are a rep for Food, Beverage, or Apparel, please contact us if you are interested in sponsorship. All sponsors
      will receive their own page on our site for endorsement of their products or services.</p>
  </div>
</div>
