<div class="app-container">
  <div class="background-image">
    <div class="col-md-8 col-md-offset-2 col-xs-12 scroll-element">
      <div class="top-head">
        <a routerLink="home">
          <img class="home-logo" src="assets/images/logo.jpg" />
        </a>
      </div>
      <nav class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-toggle">
            <ul class="nav navbar-nav" id="headernav">
              <li>
                <a routerLink="news">News</a>
              </li>
              <li>
                <a routerLink="aboutus">About Us</a>
              </li>
              <li>
                <a routerLink="previoussummits">Previous Summits</a>
              </li>
              <li>
                <a routerLink="thedelegates">The Delegates</a>
              </li>
              <li>
                <a routerLink="upcomingsummits">Upcoming Summits</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
