<div class="app-container">
  <body>
    <div id="scrollelement" class="col-md-8 col-md-offset-2" style="padding:0;">
      <div id="tophead">
        <a href="/index.html">
          <img class="home-logo" style="height:61px" src="assets/images/logo.jpg" />
        </a>
      </div>
      <nav class="navbar navbar-default " role="navigation" style="background:white; color:black; border-top:1px solid black; border-bottom: 1px solid black;">
        <div class="container-fluid" style="background:white; color:black;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span style="background-color:#888" class="icon-bar"></span>
            <span style="background-color:#888" class="icon-bar"></span>
            <span style="background-color:#888" class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="headernav">
              <li>
                <a style="color:black;" href="News.html">News</a>
              </li>
              <li>
                <a style="color:black;" href="AboutUs.html">About Us</a>
              </li>
              <li>
                <a style="color:black;" href="ExistingSummits.html">Previous Summits</a>
              </li>
              <li>
                <a style="color:black;" href="Delegate.html">The Delegates</a>
              </li>
              <li>
                <a style="color:black;" href="UpcomingSummits.html">Upcoming Summits</a>
              </li>
              <li>
                <a style="color:black;" href="ContactUs.php">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
